{% extends 'store/main.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% block content %}

    <div class="row">
    {% for product in products %}
        <div class="col-lg-4" style="margin-right: 120px">
            <a href="#"><img  class="thumbnail" src="{{ product.imageURL }}">
            <div class="box-element product" style="width: 315px; padding-right: 20px">
                <a href="#"><h6><strong>{{ product.name }}</strong></h6></a>
                <hr>
                <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Добави в количката</button>
{#                <a  class="btn btn-outline-success" href="#">Виж продукта</a>#}
                <h4 style="display: inline-block; float: right">{{ product.price|floatformat:2 }}</h4>
            </div>
        </div>

    {% endfor %}

    </div>

{% endblock %}